//Tablets & Small Laptop
@include mediaMd {
    h1 {
        font-size: 1.6rem !important;
        margin-bottom: 0 !important;
    }
    .movie {
        height: 100% !important;
    }
    .info {
        margin-top: 20% !important;
    }
    .text {
        margin-top: -87px !important;
    }
    .legend {
        top: 85% !important;
        left: 10% !important;
        width: 140px !important;
        .circle {
            width: 20px !important;
            height: 20px !important;
        }
    }
    .text p {
        margin-bottom: 10px !important;
    }
    object {
        width: 100% !important;
        margin-top: 30% !important;
        align-self: flex-start !important;
    }
    #hover {
        width: 120px !important;
        height: 120px !important;
        margin-left: 80% !important;
    }
}

@include mediaLg {}